NodeRed-courpus.json
[{"id":"536d17fb.692f2","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"ADD Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"addCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"corpus1","stt-allow-overwrite":true,"x":483.75,"y":142.5,"wires":[["52cf3102.a1377"]]},{"id":"9da249d9.9a57f8","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"List Words","password":"nE2tEPFAfol0","stt-custom-mode":"listCustomWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":486.875,"y":303.75,"wires":[["b9a095de.9aa688"]]},{"id":"4d32e93b.338c8","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"DEL Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"deleteCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"corpus1","stt-allow-overwrite":true,"x":481.875,"y":180,"wires":[["52cf3102.a1377"]]},{"id":"418e9821.e5f59","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"ADD Words","password":"nE2tEPFAfol0","stt-custom-mode":"addWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":481.875,"y":225.24998474121094,"wires":[["5cb923a0.655cdc"]]},{"id":"8f81bf10.174728","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"Train","password":"nE2tEPFAfol0","stt-custom-mode":"train","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":466.87493896484375,"y":264,"wires":[["52cf3102.a1377"]]},{"id":"5cb923a0.655cdc","type":"debug","z":"8ac1f749.ee734","name":"word","active":true,"console":"false","complete":"words.0.display_as","x":712.75,"y":226.25003051757812,"wires":[]},{"id":"529ec22c.618324","type":"inject","z":"8ac1f749.ee734","name":"学習する","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.25,"y":262.75,"wires":[["8f81bf10.174728"]]},{"id":"c60e585d.8bfcd8","type":"http in","z":"8ac1f749.ee734","name":"","url":"/list","method":"get","swaggerDoc":"","x":107.375,"y":341.75,"wires":[["9da249d9.9a57f8"]]},{"id":"8e417834.39d5f","type":"http response","z":"8ac1f749.ee734","name":"http resp","x":852.375,"y":337.5000305175781,"wires":[]},{"id":"b9a095de.9aa688","type":"template","z":"8ac1f749.ee734","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n<style>\ntable {\n\tborder-collapse: collapse;\n\tcolor: #ffffff;\n\tbackground-color: #000000;\n\tfont-size: 85%;\n}\nth {\n    border: solid 1px;\n    padding: 0.5em;\n}\ntd {\n\tborder: solid 1px;\n\tpadding: 0.5em;\n}\n</style>\n\n<table>\n  <caption>辞書の内容</caption>\n  <tr>\n    <th>登録語</th>\n    <th>読み</th>\n    <th>誤り</th>\n  </tr>\n  <tr>\n    <td>{{words.0.display_as}}</td>\n    <td>{{words.0.sounds_like.0}}</td>\n    <td>{{words.0.word}}</td>\n  </tr>\n  <tr>\n    <td>{{words.1.display_as}}</td>\n    <td>{{words.1.sounds_like.0}}</td>\n    <td>{{words.1.word}}</td> \n  </tr>\n    <tr>\n    <td>{{words.2.display_as}}</td>\n    <td>{{words.2.sounds_like.0}}</td>\n    <td>{{words.2.word}}</td> \n  </tr>\n</table>\n</body></html>","x":721.7499389648438,"y":302.5000305175781,"wires":[["8e417834.39d5f","466510d3.cde6e8"]]},{"id":"c2b06d94.ff23d","type":"http request","z":"8ac1f749.ee734","name":"GITから読み込み","method":"GET","ret":"obj","url":"https://github.com/kmomose/watson/raw/master/words.json","tls":"","x":291.1250305175781,"y":225.24998474121094,"wires":[["418e9821.e5f59"]]},{"id":"18658e11.6c5c32","type":"inject","z":"8ac1f749.ee734","name":"単語登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.125,"y":224.24990844726562,"wires":[["c2b06d94.ff23d"]]},{"id":"466510d3.cde6e8","type":"freeboard","z":"8ac1f749.ee734","name":"[NodeRed]corpus","x":881,"y":301.4999084472656,"wires":[]},{"id":"f7af74e9.65fea8","type":"inject","z":"8ac1f749.ee734","name":"辞書表示","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.5,"y":305.7499084472656,"wires":[["9da249d9.9a57f8"]]},{"id":"3b8b3abc.ad9cb6","type":"comment","z":"8ac1f749.ee734","name":"コーパス作成・編集・削除","info":"","x":523.625,"y":49.49993896484375,"wires":[]},{"id":"463f893d.08c2d8","type":"comment","z":"8ac1f749.ee734","name":"開始","info":"","x":86.875,"y":56.25,"wires":[]},{"id":"c8fdf5b.d1e7508","type":"comment","z":"8ac1f749.ee734","name":"結果","info":"","x":770.625,"y":50,"wires":[]},{"id":"20466056.5e7e8","type":"inject","z":"8ac1f749.ee734","name":"コーパス追加","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116.25,"y":140,"wires":[["7ac791fb.8e25"]]},{"id":"7ac791fb.8e25","type":"http request","z":"8ac1f749.ee734","name":"GITから読み込み","method":"GET","ret":"txt","url":"https://github.com/kmomose/watson/raw/master/corpus1.txt","tls":"","x":292.5,"y":138.75,"wires":[["536d17fb.692f2"]]},{"id":"2eeb0cd5.c2cb0c","type":"inject","z":"8ac1f749.ee734","name":"コーパス削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":180,"wires":[["4d32e93b.338c8"]]},{"id":"52cf3102.a1377","type":"debug","z":"8ac1f749.ee734","name":"payload","active":true,"console":"false","complete":"payload","x":723,"y":166,"wires":[]}]
