NodeRed-Callcenter.json
[{"id":"cbca60df.241a4","type":"http in","z":"a00ffd5f.6412c8","name":"コールセンター","url":"/receiver","method":"post","swaggerDoc":"","x":125,"y":78,"wires":[["3ac5df44.588d7"]]},{"id":"3ac5df44.588d7","type":"function","z":"a00ffd5f.6412c8","name":"受信URL","func":"msg.payload = msg.payload.RecordingUrl;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":78,"wires":[["27e18cde.ba3534"]]},{"id":"b688fee8.2eb238","type":"function","z":"a00ffd5f.6412c8","name":"分類","func":"var transcript = msg.transcription;\nvar category, num;\nif(transcript.indexOf(\"故障\") != -1){\n    category = \"故障についての質問です。\";\n    num = 1;\n} else if (transcript.indexOf(\"使い方\") != -1){\n    category = \"使い方についての質問です\";\n    num = 2;\n} else {\n    category = \"認識できない質問です。\";\n    num = 3;\n}\nmsg.payload = {\"category\": category, \"num\": num};\nreturn msg;","outputs":"1","noerr":0,"x":324.25,"y":360.50001525878906,"wires":[["db626b83.d78d18","b8808f7a.0db2a"]]},{"id":"db626b83.d78d18","type":"debug","z":"a00ffd5f.6412c8","name":"","active":true,"console":"false","complete":"payload","x":486.75,"y":298.25,"wires":[]},{"id":"b8808f7a.0db2a","type":"switch","z":"a00ffd5f.6412c8","name":"","property":"payload.num","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":465.50006103515625,"y":359.25,"wires":[["9aafec1f.5195a8"],["9c6a91ef.7f9db"],["31d20f54.7a533"]]},{"id":"9aafec1f.5195a8","type":"template","z":"a00ffd5f.6412c8","name":"故障問い合わせ先","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"<Response>\n  <Dial timeout=\"5\" timeLimit=\"10\" callerId=\"+815031878511\">+815031878506</Dial>\n</Response>","x":728.7500610351562,"y":313.75,"wires":[["8b547eab.353808"]]},{"id":"9c6a91ef.7f9db","type":"template","z":"a00ffd5f.6412c8","name":"使い方問い合わせ先","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"<Response>\n  <Dial timeout=\"10\" timeLimit=\"10\" callerId=\"+815031878511\">+815031878506</Dial>\n</Response>","x":732.7500610351562,"y":358.75,"wires":[["8b547eab.353808"]]},{"id":"31d20f54.7a533","type":"template","z":"a00ffd5f.6412c8","name":"その他問い合わせ先","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"<Response>\n  <Dial timeout=\"10\" timelimit=\"10\" callerId=\"+815031878511\">+815031878506</Dial>\n</Response>","x":733.7500610351562,"y":404.75,"wires":[["8b547eab.353808"]]},{"id":"8b547eab.353808","type":"http response","z":"a00ffd5f.6412c8","name":"","x":934.5,"y":356.0000305175781,"wires":[]},{"id":"5e2688a2.f08bd","type":"debug","z":"a00ffd5f.6412c8","name":"","active":true,"console":"true","complete":"transcription","x":750,"y":78,"wires":[]},{"id":"27e18cde.ba3534","type":"watson-speech-to-text","z":"a00ffd5f.6412c8","name":"WATSON STT","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"e161d8f0-0578-11e7-94ad-3b2269260fbc","langcustomhidden":"e161d8f0-0578-11e7-94ad-3b2269260fbc","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":476,"y":79.00004577636719,"wires":[["5e2688a2.f08bd","34b10be7.53692c","b688fee8.2eb238"]]},{"id":"519cb2c6.a9cd04","type":"freeboard","z":"a00ffd5f.6412c8","name":"[NodeRed]callcenter","x":874.375,"y":114.74990844726562,"wires":[]},{"id":"34b10be7.53692c","type":"template","z":"a00ffd5f.6412c8","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n    <h6 style=\"color:#fe2e64;\">コールセンター受付内容</h6>\n    <h5 style=\"color:#ffffff;\">{{transcription}}</h5>\n</html></body>\n","x":710,"y":115.49992370605469,"wires":[["519cb2c6.a9cd04"]]},{"id":"bfcc221d.90ad68","type":"comment","z":"a00ffd5f.6412c8","name":"電話を担当者に転送","info":"","x":725.625,"y":237.5,"wires":[]},{"id":"2384dbc2.30ddac","type":"comment","z":"a00ffd5f.6412c8","name":"お客様の音声取り込み","info":"","x":151.875,"y":30,"wires":[]},{"id":"eeb3e0fb.f24c08","type":"comment","z":"a00ffd5f.6412c8","name":"音声をテキスト化","info":"","x":463.125,"y":31.25,"wires":[]},{"id":"431604f2.032adc","type":"comment","z":"a00ffd5f.6412c8","name":"問い合わせ内容の解析","info":"","x":483.125,"y":240,"wires":[]},{"id":"736770dd.5a77a","type":"comment","z":"a00ffd5f.6412c8","name":"テキスト出力","info":"","x":730,"y":29,"wires":[]}]
