NodeRed-sst-demo.json
[{"id":"ab7c85f2.0ae8d8","type":"debug","z":"6c156295.ac6b0c","name":"","active":true,"console":"true","complete":"transcription","x":807.5,"y":150.7500762939453,"wires":[]},{"id":"5cc64194.2f545","type":"watson-speech-to-text","z":"6c156295.ac6b0c","name":"WATSON STT","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"e161d8f0-0578-11e7-94ad-3b2269260fbc","langcustomhidden":"e161d8f0-0578-11e7-94ad-3b2269260fbc","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":507.5,"y":165.7501220703125,"wires":[["ab7c85f2.0ae8d8"]]},{"id":"6e27540e.e13fa4","type":"inject","z":"6c156295.ac6b0c","name":"標準翻訳","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116.25,"y":129.50009155273438,"wires":[["5922968f.c333c"]]},{"id":"5922968f.c333c","type":"http request","z":"6c156295.ac6b0c","name":"音声読み込み","method":"GET","ret":"bin","url":"https://github.com/kmomose/master-repo/raw/master/japanese_text_bokke_machi_customized.wav","tls":"","x":318.75,"y":129.5001220703125,"wires":[["1e2aa29f.96355d"]]},{"id":"8cd919c4.9c9718","type":"http request","z":"6c156295.ac6b0c","name":"音声(momose)","method":"GET","ret":"bin","url":"https://github.com/kmomose/master-repo/raw/master/jpanese.wav","tls":"","x":316.875,"y":202.0001220703125,"wires":[[]]},{"id":"7369cebe.3fd918","type":"comment","z":"6c156295.ac6b0c","name":"入力","info":"","x":125,"y":59.750091552734375,"wires":[]},{"id":"4fbdf733.0dbe4","type":"comment","z":"6c156295.ac6b0c","name":"WATSONの処理","info":"","x":508.75,"y":58.500091552734375,"wires":[]},{"id":"618fe314.4ceea4","type":"comment","z":"6c156295.ac6b0c","name":"出力","info":"","x":748.75,"y":59.750091552734375,"wires":[]},{"id":"fda79cbf.055be","type":"comment","z":"6c156295.ac6b0c","name":"デバック","info":"","x":867.5,"y":58.500091552734375,"wires":[]},{"id":"e8bd6dc1.71353","type":"watson-speech-to-text-v1-query-builder","z":"6c156295.ac6b0c","name":"ADD Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"addCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":499.5,"y":297.2500915527344,"wires":[["9740cc6b.14bc1"]]},{"id":"6d437c88.a78d9c","type":"watson-speech-to-text-v1-query-builder","z":"6c156295.ac6b0c","name":"List Words","password":"nE2tEPFAfol0","stt-custom-mode":"listCustomWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":502.625,"y":458.5000915527344,"wires":[["1e7f15ec.8a862a"]]},{"id":"cdd5eb2c.747288","type":"watson-speech-to-text-v1-query-builder","z":"6c156295.ac6b0c","name":"DEL Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"deleteCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":502.625,"y":409.7500915527344,"wires":[[]]},{"id":"2e7f3635.8a96ea","type":"watson-speech-to-text-v1-query-builder","z":"6c156295.ac6b0c","name":"ADD Words","password":"nE2tEPFAfol0","stt-custom-mode":"addWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":500.125,"y":339.7500915527344,"wires":[["9740cc6b.14bc1"]]},{"id":"45272008.811258","type":"watson-speech-to-text-v1-query-builder","z":"6c156295.ac6b0c","name":"Train","password":"nE2tEPFAfol0","stt-custom-mode":"train","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":482.62493896484375,"y":374.7500915527344,"wires":[["9740cc6b.14bc1"]]},{"id":"9740cc6b.14bc1","type":"debug","z":"6c156295.ac6b0c","name":"payload","active":true,"console":"false","complete":"words.0.display_as","x":797.5,"y":336.0001220703125,"wires":[]},{"id":"5bc20154.37efe","type":"inject","z":"6c156295.ac6b0c","name":"学習する","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":373.5000915527344,"wires":[["45272008.811258"]]},{"id":"7cad35f5.5ac7ec","type":"http in","z":"6c156295.ac6b0c","name":"コーパス表示","url":"/list","method":"get","swaggerDoc":"","x":133.125,"y":458.5000915527344,"wires":[["6d437c88.a78d9c"]]},{"id":"8bb9be27.07643","type":"http response","z":"6c156295.ac6b0c","name":"http resp","x":853.875,"y":456.0001220703125,"wires":[]},{"id":"1e7f15ec.8a862a","type":"template","z":"6c156295.ac6b0c","name":"出力 words","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n<style>\ntable {\n\tborder-collapse: collapse;\n}\nth {\n    border: solid 1px;\n    padding: 0.5em;\n}\ntd {\n\tborder: solid 1px;\n\tpadding: 0.5em;\n}\n</style>\n\n<table>\n  <caption>コーパスのリスト</caption>\n  <tr>\n    <th>登録語</th>\n    <th>読み</th>\n    <th>誤り</th>\n  </tr>\n  <tr>\n    <td>{{words.0.display_as}}</td>\n    <td>{{words.0.sounds_like.0}}</td>\n    <td>{{words.0.word}}</td>\n  </tr>\n  <tr>\n    <td>{{words.1.display_as}}</td>\n    <td>{{words.1.sounds_like.0}}</td>\n    <td>{{words.1.word}}</td> \n  </tr>\n    <tr>\n    <td>{{words.2.display_as}}</td>\n    <td>{{words.2.sounds_like.0}}</td>\n    <td>{{words.2.word}}</td> \n  </tr>\n</table>\n</body></html>","x":676.9999389648438,"y":458.5001220703125,"wires":[["8bb9be27.07643","9740cc6b.14bc1"]]},{"id":"1e2aa29f.96355d","type":"watson-speech-to-text","z":"6c156295.ac6b0c","name":"WATSON STT (Default)","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":523.75,"y":129.5001220703125,"wires":[["ab7c85f2.0ae8d8"]]},{"id":"c422e997.99024","type":"http request","z":"6c156295.ac6b0c","name":"音声読み込み","method":"GET","ret":"bin","url":"https://github.com/kmomose/master-repo/raw/master/japanese_text_bokke_machi_customized.wav","tls":"","x":320,"y":165.7501220703125,"wires":[["5cc64194.2f545"]]},{"id":"67781c66.0c4654","type":"inject","z":"6c156295.ac6b0c","name":"カスタム翻訳","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.75,"y":164.50009155273438,"wires":[["c422e997.99024"]]},{"id":"134518bd.7ab36f","type":"http request","z":"6c156295.ac6b0c","name":"word","method":"GET","ret":"obj","url":"https://github.com/kmomose/watson/raw/master/words.json","tls":"","x":321.875,"y":339.7500915527344,"wires":[["2e7f3635.8a96ea"]]},{"id":"7f11ec50.ce7bc4","type":"inject","z":"6c156295.ac6b0c","name":"単語登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.875,"y":335,"wires":[["134518bd.7ab36f"]]}]
