Nodered-corpus.json
[{"id":"536d17fb.692f2","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"ADD Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"addCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"corpus1","stt-allow-overwrite":true,"x":495.75,"y":92.5,"wires":[["52cf3102.a1377"]]},{"id":"9da249d9.9a57f8","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"List Words","password":"nE2tEPFAfol0","stt-custom-mode":"listCustomWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":498.875,"y":488.75,"wires":[["b937a717.cc12b8"]]},{"id":"4d32e93b.338c8","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"DEL Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"deleteCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"corpus1","stt-allow-overwrite":true,"x":495.3035583496094,"y":192.85719299316406,"wires":[["52cf3102.a1377"]]},{"id":"418e9821.e5f59","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"ADD Words","password":"nE2tEPFAfol0","stt-custom-mode":"addWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":493.875,"y":243.24998474121094,"wires":[["5cb923a0.655cdc"]]},{"id":"8f81bf10.174728","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"Train","password":"nE2tEPFAfol0","stt-custom-mode":"train","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":477.44635009765625,"y":291.71429443359375,"wires":[["52cf3102.a1377"]]},{"id":"5cb923a0.655cdc","type":"debug","z":"8ac1f749.ee734","name":"word","active":true,"console":"false","complete":"words.0.display_as","x":806,"y":245.50003051757812,"wires":[]},{"id":"c60e585d.8bfcd8","type":"http in","z":"8ac1f749.ee734","name":"","url":"/list","method":"get","swaggerDoc":"","x":98.375,"y":526.75,"wires":[["9da249d9.9a57f8"]]},{"id":"8e417834.39d5f","type":"http response","z":"8ac1f749.ee734","name":"http resp","x":818.5179443359375,"y":490.357177734375,"wires":[]},{"id":"b9a095de.9aa688","type":"template","z":"8ac1f749.ee734","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n<style>\ntable {\n\tborder-collapse: collapse;\n\tcolor: #ffffff;\n\tbackground-color: #000000;\n\tfont-size: small;\n\tfont-weight: lighter;\n}\nth {\n    border: solid 1px;\n    padding: 0.5em;\n    \n}\ntd {\n\tborder: solid 1px;\n\tpadding: 0.5em;\n}\n</style>\n<table>\n  <caption><h5>辞書の内容</h5></caption>\n  <tr>\n    <th>登録語</th>\n    <th>読み</th>\n    <th>綴り</th>\n  </tr>\n  <tr>\n    <td>{{words.0.word}}</td>\n    <td>{{words.0.sounds_like.0}}</td>\n    <td>{{words.0.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.1.word}}</td>\n    <td>{{words.1.sounds_like.0}}</td>\n    <td>{{words.1.display_as}}</td> \n  </tr>\n  <tr>\n    <td>{{words.2.word}}</td>\n    <td>{{words.2.sounds_like.0}}</td>\n    <td>{{words.2.display_as}}</td> \n  </tr>\n  <tr>\n    <td>{{words.3.word}}</td>\n    <td>{{words.3.sounds_like.0}}</td>\n    <td>{{words.3.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.4.word}}</td>\n    <td>{{words.4.sounds_like.0}}</td>\n    <td>{{words.4.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.5.word}}</td>\n    <td>{{words.5.sounds_like.0}}</td>\n    <td>{{words.5.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.6.word}}</td>\n    <td>{{words.6.sounds_like.0}}</td>\n    <td>{{words.6.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.7.word}}</td>\n    <td>{{words.7.sounds_like.0}}</td>\n    <td>{{words.7.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.8.word}}</td>\n    <td>{{words.8.sounds_like.0}}</td>\n    <td>{{words.8.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.9.word}}</td>\n    <td>{{words.9.sounds_like.0}}</td>\n    <td>{{words.9.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.10.word}}</td>\n    <td>{{words.10.sounds_like.0}}</td>\n    <td>{{words.10.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.11word}}</td>\n    <td>{{words.11.sounds_like.0}}</td>\n    <td>{{words.11.display_as}}</td> \n  </tr>\n  <tr>\n    <td>{{words.12.word}}</td>\n    <td>{{words.12.sounds_like.0}}</td>\n    <td>{{words.12.display_as}}</td> \n  </tr>\n  <tr>\n    <td>{{words.13.word}}</td>\n    <td>{{words.13.sounds_like.0}}</td>\n    <td>{{words.13.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.14.word}}</td>\n    <td>{{words.14.sounds_like.0}}</td>\n    <td>{{words.14.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.15.word}}</td>\n    <td>{{words.15.sounds_like.0}}</td>\n    <td>{{words.15.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.16.word}}</td>\n    <td>{{words.16.sounds_like.0}}</td>\n    <td>{{words.16.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.17.word}}</td>\n    <td>{{words.17.sounds_like.0}}</td>\n    <td>{{words.17.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.18.word}}</td>\n    <td>{{words.18.sounds_like.0}}</td>\n    <td>{{words.18.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.19.word}}</td>\n    <td>{{words.19.sounds_like.0}}</td>\n    <td>{{words.19.display_as}}</td>\n  </tr>  \n  <tr>\n    <td>{{words.20.word}}</td>\n    <td>{{words.20.sounds_like.0}}</td>\n    <td>{{words.20.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.21word}}</td>\n    <td>{{words.21.sounds_like.0}}</td>\n    <td>{{words.21.display_as}}</td> \n  </tr>\n  <tr>\n    <td>{{words.22.word}}</td>\n    <td>{{words.22.sounds_like.0}}</td>\n    <td>{{words.22.display_as}}</td> \n  </tr>\n  <tr>\n    <td>{{words.23.word}}</td>\n    <td>{{words.23.sounds_like.0}}</td>\n    <td>{{words.23.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.24.word}}</td>\n    <td>{{words.24.sounds_like.0}}</td>\n    <td>{{words.24.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.25.word}}</td>\n    <td>{{words.25.sounds_like.0}}</td>\n    <td>{{words.25.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.26.word}}</td>\n    <td>{{words.26.sounds_like.0}}</td>\n    <td>{{words.26.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.27.word}}</td>\n    <td>{{words.27.sounds_like.0}}</td>\n    <td>{{words.27.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.28.word}}</td>\n    <td>{{words.28.sounds_like.0}}</td>\n    <td>{{words.28.display_as}}</td>\n  </tr>\n  <tr>\n    <td>{{words.29.word}}</td>\n    <td>{{words.29.sounds_like.0}}</td>\n    <td>{{words.29.display_as}}</td>\n  </tr>  \n </table>\n</body></html>","x":645.9999389648438,"y":528.3928527832031,"wires":[["8e417834.39d5f","466510d3.cde6e8","4b6b9e62.693ca"]]},{"id":"c2b06d94.ff23d","type":"http request","z":"8ac1f749.ee734","name":"Read単語リスト","method":"GET","ret":"bin","url":"https://github.com/kmomose/watson/raw/master/words0.json","tls":"","x":288.1250305175781,"y":243.24998474121094,"wires":[["418e9821.e5f59"]]},{"id":"18658e11.6c5c32","type":"inject","z":"8ac1f749.ee734","name":"単語登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.125,"y":243.24990844726562,"wires":[["c2b06d94.ff23d"]]},{"id":"466510d3.cde6e8","type":"freeboard","z":"8ac1f749.ee734","name":"[NodeRed]corpus","x":848.5714721679688,"y":528.8214111328125,"wires":[]},{"id":"f7af74e9.65fea8","type":"inject","z":"8ac1f749.ee734","name":"辞書表示","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":490.7499084472656,"wires":[["9da249d9.9a57f8"]]},{"id":"3b8b3abc.ad9cb6","type":"comment","z":"8ac1f749.ee734","name":"コーパス作成・編集・削除","info":"","x":523.625,"y":32.49993896484375,"wires":[]},{"id":"463f893d.08c2d8","type":"comment","z":"8ac1f749.ee734","name":"開始","info":"","x":109.375,"y":30.25,"wires":[]},{"id":"c8fdf5b.d1e7508","type":"comment","z":"8ac1f749.ee734","name":"結果","info":"","x":770.625,"y":33,"wires":[]},{"id":"20466056.5e7e8","type":"inject","z":"8ac1f749.ee734","name":"コーパス追加","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.25,"y":92,"wires":[["7ac791fb.8e25"]]},{"id":"7ac791fb.8e25","type":"http request","z":"8ac1f749.ee734","name":"Read Corpus1","method":"GET","ret":"txt","url":"https://github.com/kmomose/watson/raw/master/corpus-voice1.json","tls":"","x":286.9999694824219,"y":92.6111068725586,"wires":[["536d17fb.692f2"]]},{"id":"2eeb0cd5.c2cb0c","type":"inject","z":"8ac1f749.ee734","name":"コーパス表示","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":145,"wires":[["22aa2601.db0302"]]},{"id":"52cf3102.a1377","type":"debug","z":"8ac1f749.ee734","name":"","active":true,"console":"false","complete":"true","x":801.6665649414062,"y":201.41668701171875,"wires":[]},{"id":"4b6b9e62.693ca","type":"debug","z":"8ac1f749.ee734","name":"","active":true,"console":"false","complete":"true","x":810.0358276367188,"y":566.6785583496094,"wires":[]},{"id":"b937a717.cc12b8","type":"function","z":"8ac1f749.ee734","name":"extract","func":"msg.payload = msg.words;\n\nreturn msg;","outputs":1,"noerr":0,"x":646.75,"y":490,"wires":[["b9a095de.9aa688"]]},{"id":"22aa2601.db0302","type":"http request","z":"8ac1f749.ee734","name":"List Corpora","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/speech-to-text/api/v1/customizations/e161d8f0-0578-11e7-94ad-3b2269260fbc/corpora","tls":"","x":495.8572082519531,"y":145.61904907226562,"wires":[["52cf3102.a1377"]]},{"id":"bf5ca4fc.41aee8","type":"inject","z":"8ac1f749.ee734","name":"コーパス削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.38095092773438,"y":194.28570556640625,"wires":[["4d32e93b.338c8"]]},{"id":"7321be41.4843","type":"inject","z":"8ac1f749.ee734","name":"学習","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87.38095092773438,"y":294.28570556640625,"wires":[["8f81bf10.174728"]]},{"id":"4c0047fc.66d73","type":"inject","z":"8ac1f749.ee734","name":"学習進行状況","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.4285888671875,"y":407.0952453613281,"wires":[["3f2c3bf6.e17d1c"]]},{"id":"3f2c3bf6.e17d1c","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"状況表示","password":"nE2tEPFAfol0","stt-custom-mode":"listCustomisations","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":490.2381286621094,"y":405.66668701171875,"wires":[["6e50497f.0a29f"]]},{"id":"a07c6715.7eed98","type":"debug","z":"8ac1f749.ee734","name":"progress","active":true,"console":"false","complete":"customizations.2.progress","x":815.9523315429688,"y":388.6666564941406,"wires":[]},{"id":"6e50497f.0a29f","type":"switch","z":"8ac1f749.ee734","name":"","property":"customizations.2.progress","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":639.404798235212,"y":413.2619410923549,"wires":[["a07c6715.7eed98"],["5b0b6119.c99fe"],["a07c6715.7eed98"]]},{"id":"5b0b6119.c99fe","type":"delay","z":"8ac1f749.ee734","name":"delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":807.976318359375,"y":429.3572082519531,"wires":[["3f2c3bf6.e17d1c"]]}]
