NodeRed-stt.json
[{"id":"ab7c85f2.0ae8d8","type":"debug","z":"6c156295.ac6b0c","name":"","active":true,"console":"true","complete":"transcription","x":807.5,"y":128.7500762939453,"wires":[]},{"id":"5cc64194.2f545","type":"watson-speech-to-text","z":"6c156295.ac6b0c","name":"WATSON STT","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"e161d8f0-0578-11e7-94ad-3b2269260fbc","langcustomhidden":"e161d8f0-0578-11e7-94ad-3b2269260fbc","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":507.5,"y":165.7501220703125,"wires":[["ab7c85f2.0ae8d8","fe6ef78b.83d59"]]},{"id":"6e27540e.e13fa4","type":"inject","z":"6c156295.ac6b0c","name":"標準翻訳","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116.25,"y":129.50009155273438,"wires":[["5922968f.c333c","8cd919c4.9c9718"]]},{"id":"5922968f.c333c","type":"http request","z":"6c156295.ac6b0c","name":"音声読み込み","method":"GET","ret":"bin","url":"https://github.com/kmomose/watson/raw/master/japanese_text_bokke_machi_customized.wav","tls":"","x":318.75,"y":129.5001220703125,"wires":[[]]},{"id":"8cd919c4.9c9718","type":"http request","z":"6c156295.ac6b0c","name":"音声(momose)","method":"GET","ret":"bin","url":"https://github.com/kmomose/watson/raw/master/jpanese.wav","tls":"","x":316.875,"y":202.0001220703125,"wires":[["1e2aa29f.96355d","5cc64194.2f545"]]},{"id":"7369cebe.3fd918","type":"comment","z":"6c156295.ac6b0c","name":"入力","info":"","x":125,"y":59.750091552734375,"wires":[]},{"id":"4fbdf733.0dbe4","type":"comment","z":"6c156295.ac6b0c","name":"WATSONの処理","info":"","x":508.75,"y":58.500091552734375,"wires":[]},{"id":"618fe314.4ceea4","type":"comment","z":"6c156295.ac6b0c","name":"出力","info":"","x":748.75,"y":59.750091552734375,"wires":[]},{"id":"fda79cbf.055be","type":"comment","z":"6c156295.ac6b0c","name":"デバック","info":"","x":867.5,"y":58.500091552734375,"wires":[]},{"id":"1e2aa29f.96355d","type":"watson-speech-to-text","z":"6c156295.ac6b0c","name":"WATSON STT (Default)","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":523.75,"y":129.5001220703125,"wires":[["ab7c85f2.0ae8d8","8c78cb50.de462"]]},{"id":"c422e997.99024","type":"http request","z":"6c156295.ac6b0c","name":"音声読み込み","method":"GET","ret":"bin","url":"https://github.com/kmomose/watson/raw/master/japanese_text_bokke_machi_customized.wav","tls":"","x":320,"y":165.7501220703125,"wires":[["5cc64194.2f545"]]},{"id":"67781c66.0c4654","type":"inject","z":"6c156295.ac6b0c","name":"カスタム翻訳","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.75,"y":164.50009155273438,"wires":[["c422e997.99024"]]},{"id":"fde2867a.e93b58","type":"freeboard","z":"6c156295.ac6b0c","name":"[NodeRed]stt","x":901.875,"y":165.49998474121094,"wires":[]},{"id":"fe6ef78b.83d59","type":"template","z":"6c156295.ac6b0c","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n    <h6 style=\"color:#01df01;\">カスタムWATSON 音声テキスト変換</h6>\n    <h5 style=\"color:#ffffff;\">{{transcription}}</h5>\n</html></body>\n","x":765,"y":203.75,"wires":[["17c0a031.51e3"]]},{"id":"17c0a031.51e3","type":"freeboard","z":"6c156295.ac6b0c","name":"[NodeRed]custom-stt","x":931.25,"y":203.75,"wires":[]},{"id":"8c78cb50.de462","type":"template","z":"6c156295.ac6b0c","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n    <h6 style=\"color:#81bef7;\">標準WATSON 音声テキスト変換</h6>\n    <h5 style=\"color:#ffffff;\">{{transcription}}</h5>\n</html></body>\n","x":767.5,"y":166.25,"wires":[["fde2867a.e93b58","caed1e01.382648"]]},{"id":"bd9f37a1.340ef","type":"debug","z":"6c156295.ac6b0c","name":"payload","active":true,"console":"false","complete":"payload","x":773.75,"y":243.75,"wires":[]},{"id":"caed1e01.382648","type":"debug","z":"6c156295.ac6b0c","name":"","active":true,"console":"false","complete":"false","x":371.875,"y":361.25,"wires":[]}]
