NodeRed-stt.json
[{"id":"ab7c85f2.0ae8d8","type":"debug","z":"6c156295.ac6b0c","name":"","active":false,"console":"false","complete":"transcription","x":808.2499694824219,"y":266.5000534057617,"wires":[]},{"id":"5cc64194.2f545","type":"watson-speech-to-text","z":"6c156295.ac6b0c","name":"カスタムWATSON STT","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"e161d8f0-0578-11e7-94ad-3b2269260fbc","langcustomhidden":"e161d8f0-0578-11e7-94ad-3b2269260fbc","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":518,"y":195.50011444091797,"wires":[["fe6ef78b.83d59","ab7c85f2.0ae8d8","caed1e01.382648"]]},{"id":"6e27540e.e13fa4","type":"inject","z":"6c156295.ac6b0c","name":"開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83.75,"y":162.75009155273438,"wires":[["47d492c7.6a91fc"]]},{"id":"7369cebe.3fd918","type":"comment","z":"6c156295.ac6b0c","name":"入力","info":"","x":125,"y":59.750091552734375,"wires":[]},{"id":"4fbdf733.0dbe4","type":"comment","z":"6c156295.ac6b0c","name":"WATSONの処理","info":"","x":508.75,"y":58.500091552734375,"wires":[]},{"id":"618fe314.4ceea4","type":"comment","z":"6c156295.ac6b0c","name":"出力","info":"","x":748.75,"y":59.750091552734375,"wires":[]},{"id":"1e2aa29f.96355d","type":"watson-speech-to-text","z":"6c156295.ac6b0c","name":"標準WATSON STT","continuous":true,"speakerlabels":true,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"nE2tEPFAfol0","x":499.5,"y":129.00011444091797,"wires":[["ab7c85f2.0ae8d8","caed1e01.382648","8c78cb50.de462"]]},{"id":"fde2867a.e93b58","type":"freeboard","z":"6c156295.ac6b0c","name":"[NodeRed]stt","x":901.875,"y":111.49998474121094,"wires":[]},{"id":"fe6ef78b.83d59","type":"template","z":"6c156295.ac6b0c","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n    <h5 style=\"color:#01df01;\">カスタムWATSON 音声テキスト変換</h6>\n    <span style=\"color:#ffffff;font-size:small;font-weight:lighter\">{{transcription}}</span>\n</html></body>\n","x":765,"y":162.75,"wires":[["17c0a031.51e3"]]},{"id":"17c0a031.51e3","type":"freeboard","z":"6c156295.ac6b0c","name":"[NodeRed]custom-stt","x":931.25,"y":162.75,"wires":[]},{"id":"8c78cb50.de462","type":"template","z":"6c156295.ac6b0c","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n    <h5 style=\"color:#81bef7\">標準WATSON 音声テキスト変換</h6>\n    <span style=\"color:#ffffff;font-size:small;font-weight:lighter\">{{transcription}}</span>\n</html></body>\n","x":767.5,"y":112.25,"wires":[["fde2867a.e93b58"]]},{"id":"caed1e01.382648","type":"debug","z":"6c156295.ac6b0c","name":"","active":false,"console":"false","complete":"true","x":771.8749694824219,"y":217.24999237060547,"wires":[]},{"id":"a992b529.72cae","type":"function","z":"6c156295.ac6b0c","name":"音声1","func":"msg.payload=\"http://4058D.http.dal05.cdn.softlayer.net/voice/236001006585649.wav\";\nreturn msg;","outputs":1,"noerr":0,"x":237.83334350585938,"y":129.33333587646484,"wires":[["1e2aa29f.96355d","5cc64194.2f545"]]},{"id":"1d561686.f8c2a9","type":"function","z":"6c156295.ac6b0c","name":"音声2","func":"msg.payload=\"http://4058D.http.dal05.cdn.softlayer.net/voice/236001007102483.wav\";\nreturn msg;","outputs":1,"noerr":0,"x":237.66665649414062,"y":173.66664123535156,"wires":[["5cc64194.2f545","1e2aa29f.96355d"]]},{"id":"eae751cf.5bc62","type":"function","z":"6c156295.ac6b0c","name":"音声SR-OPE","func":"msg.payload=\"http://4058D.http.dal05.cdn.softlayer.net/voice/CC_SR_OpeVoice.wav\";\nreturn msg;","outputs":1,"noerr":0,"x":256.8345642089844,"y":219.82354736328125,"wires":[["1e2aa29f.96355d","5cc64194.2f545"]]},{"id":"928a3b65.df309","type":"function","z":"6c156295.ac6b0c","name":"音声RB-OPE","func":"msg.payload=\"http://4058D.http.dal05.cdn.softlayer.net/voice/CC_RB_OpeVoice.wav\";\nreturn msg;","outputs":1,"noerr":0,"x":257.8345642089844,"y":266.82362365722656,"wires":[["1e2aa29f.96355d","5cc64194.2f545"]]},{"id":"47d492c7.6a91fc","type":"function","z":"6c156295.ac6b0c","name":"音声SR-OPE-Short","func":"msg.payload=\"http://4058D.http.dal05.cdn.softlayer.net/voice/CC_SR_OpeVoiceShort.wav\";\nreturn msg;","outputs":1,"noerr":0,"x":277.8345642089844,"y":313.82359313964844,"wires":[["1e2aa29f.96355d","5cc64194.2f545"]]}]
