Nodered-websocket.json
[{"id":"1b8a3bee.596aa4","type":"http in","z":"f846032e.d88798","name":"","url":"/std","method":"get","swaggerDoc":"","x":84.83457946777344,"y":104.82354736328125,"wires":[["1a878e1.5d187f2"]]},{"id":"1454632c.453f75","type":"http response","z":"f846032e.d88798","name":"","x":720.8347473144531,"y":102.82354736328125,"wires":[]},{"id":"941e0424.1fabb","type":"http request","z":"f846032e.d88798","name":"get token カスタムSTT","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/customizations/e161d8f0-0578-11e7-94ad-3b2269260fbc/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":298.33453369140625,"y":205.86392211914062,"wires":[["65a90ee6.9ff8e"]]},{"id":"9bbacdcb.d18f7","type":"debug","z":"f846032e.d88798","name":"","active":false,"console":"true","complete":"true","x":719.3346862792969,"y":204.95590209960938,"wires":[]},{"id":"65a90ee6.9ff8e","type":"template","z":"f846032e.d88798","name":"カスタムWatson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var customid = \"e161d8f0-0578-11e7-94ad-3b2269260fbc\";\n    var model = \"ja-JP_NarrowbandModel\";\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&customization_id=' + customid + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+object);\n   var final = object[\"results\"][0][\"final\"];\n   if (final == true) { \n        printout(object[\"results\"][0][\"alternatives\"][0][\"transcript\"],object[\"result_index\"]);\n   };\n};\n\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(text,i){\n\tparent.frame2.document.write(\"<div style=\\\"text-align:left\\\" >\"+i+\":\"+text+\"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>カスタムWatson STTサンプルアプリケーション</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('</form>\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\"/>\n<frame src=\"\" name=\"frame2\"/>\n</frameset>\n","x":533.8346252441406,"y":205.8235321044922,"wires":[["1454632c.453f75","9bbacdcb.d18f7"]]},{"id":"1a878e1.5d187f2","type":"http request","z":"f846032e.d88798","name":"get token 標準STT","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":273.8345642089844,"y":104.82353210449219,"wires":[["9a861603.bbe728"]]},{"id":"9a861603.bbe728","type":"template","z":"f846032e.d88798","name":"標準Watson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var model = \"ja-JP_NarrowbandModel\";\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar index = 0;\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+object);\n   var final = object[\"results\"][0][\"final\"];\n   if (final == true) { \n        printout(object[\"results\"][0][\"alternatives\"][0][\"transcript\"],object[\"result_index\"]);\n   };\n};\n\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(text,i){\n\tparent.frame2.document.write(\"<div style=\\\"text-align:left\\\" >\"+i+\":\"+text+\"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>標準Watson STT Websocketサンプルアプリケーション</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('</form>\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n","x":517.8345947265625,"y":103.82353210449219,"wires":[["1454632c.453f75"]]},{"id":"7711ea53.de428c","type":"http in","z":"f846032e.d88798","name":"","url":"/custom","method":"get","swaggerDoc":"","x":93.83456420898438,"y":206.8235321044922,"wires":[["941e0424.1fabb"]]},{"id":"da4faab9.09b85","type":"comment","z":"f846032e.d88798","name":"開始","info":"","x":87.32351684570312,"y":41.86396789550781,"wires":[]},{"id":"ec91c869.f8ff08","type":"comment","z":"f846032e.d88798","name":"処理","info":"","x":497.33087158203125,"y":38.87132263183594,"wires":[]},{"id":"4c0462a2.4bad44","type":"comment","z":"f846032e.d88798","name":"出力","info":"","x":704.3198547363281,"y":35.87132263183594,"wires":[]},{"id":"605c543f.33d30c","type":"comment","z":"f846032e.d88798","name":"Watsonにログイン","info":"","x":298.8345642089844,"y":38.82353210449219,"wires":[]},{"id":"a8720acb.58768","type":"template","z":"f846032e.d88798","name":"標準Watson STT(debug)","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var model = \"ja-JP_NarrowbandModel\";\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': false\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n   console.log(\"onMessage:\"+evt.data);\n   printout(evt.data);\n};\n\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(text){\n\tvar docdata = text;\n\tparent.frame2.document.write(text);\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>標準Watson STT Websocketサンプルアプリケーション</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('</form>\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n","x":500.8345642089844,"y":312.82354736328125,"wires":[[]]},{"id":"b73f3de1.f5c178","type":"template","z":"f846032e.d88798","name":"標準Watson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var model = \"ja-JP_NarrowbandModel\";\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': false\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar index = 0;\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+object);\n   var final = object[\"results\"][0][\"final\"];\n   if (final == true) { \n        printout(object[\"results\"][0][\"alternatives\"][0][\"transcript\"],object[\"result_index\"]);\n   };\n};\n\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(text,i){\n\tparent.frame2.document.write(\"<div style=\\\"text-align:left\\\" >\"+i+\":\"+text+\"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>標準Watson STT Websocketサンプルアプリケーション</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('</form>\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n","x":481.8345642089844,"y":271.82354736328125,"wires":[[]]},{"id":"7a59e0b5.dffc58","type":"template","z":"f846032e.d88798","name":"カスタムWatson STT(debug)","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var customid = \"e161d8f0-0578-11e7-94ad-3b2269260fbc\";\n    var model = \"ja-JP_NarrowbandModel\";\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&customization_id=' + customid + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n   console.log(\"onMessage:\"+evt.data);\n   printout(evt.data);\n};\n\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(text){\n\tvar docdata = text;\n\tparent.frame2.document.write('<p>' + text + '</p>\\n');\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>カスタムWatson STTサンプルアプリケーション</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('</form>\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\"/>\n<frame src=\"\" name=\"frame2\"/>\n</frameset>\n","x":509.8345642089844,"y":355.82354736328125,"wires":[[]]}]
