NodeRed-courpus.json1
[{"id":"536d17fb.692f2","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"ADD Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"addCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"corpus1","stt-allow-overwrite":true,"x":495.75,"y":142.5,"wires":[["52cf3102.a1377"]]},{"id":"9da249d9.9a57f8","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"List Words","password":"nE2tEPFAfol0","stt-custom-mode":"listCustomWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":498.875,"y":364.75,"wires":[["b937a717.cc12b8"]]},{"id":"4d32e93b.338c8","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"DEL Corpus","password":"nE2tEPFAfol0","stt-custom-mode":"deleteCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"corpus1","stt-allow-overwrite":true,"x":493.875,"y":185,"wires":[["52cf3102.a1377"]]},{"id":"418e9821.e5f59","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"ADD Words","password":"nE2tEPFAfol0","stt-custom-mode":"addWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":493.875,"y":230.24998474121094,"wires":[["5cb923a0.655cdc"]]},{"id":"8f81bf10.174728","type":"watson-speech-to-text-v1-query-builder","z":"8ac1f749.ee734","name":"Train","password":"nE2tEPFAfol0","stt-custom-mode":"train","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"e161d8f0-0578-11e7-94ad-3b2269260fbc","stt-corpus-name":"call-center-corpus","stt-allow-overwrite":true,"x":478.87493896484375,"y":318,"wires":[["52cf3102.a1377"]]},{"id":"5cb923a0.655cdc","type":"debug","z":"8ac1f749.ee734","name":"word","active":true,"console":"false","complete":"words.0.display_as","x":806,"y":232.50003051757812,"wires":[]},{"id":"529ec22c.618324","type":"inject","z":"8ac1f749.ee734","name":"学習する","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.25,"y":316.75,"wires":[["8f81bf10.174728"]]},{"id":"c60e585d.8bfcd8","type":"http in","z":"8ac1f749.ee734","name":"","url":"/list","method":"get","swaggerDoc":"","x":98.375,"y":402.75,"wires":[["9da249d9.9a57f8"]]},{"id":"8e417834.39d5f","type":"http response","z":"8ac1f749.ee734","name":"http resp","x":818.5179443359375,"y":366.357177734375,"wires":[]},{"id":"b9a095de.9aa688","type":"template","z":"8ac1f749.ee734","name":"出力","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html><body>\n<style>\ntable {\n\tborder-collapse: collapse;\n\tcolor: #ffffff;\n\tbackground-color: #000000;\n\tfont-size: small;\n\tfont-weight: lighter;\n}\nth {\n    border: solid 1px;\n    padding: 0.5em;\n    \n}\ntd {\n\tborder: solid 1px;\n\tpadding: 0.5em;\n}\n</style>\n<table>\n  <caption><h5>辞書の内容</h5></caption>\n  <tr>\n    <th>登録語</th>\n    <th>読み</th>\n    <th>誤り</th>\n  </tr>\n  <tr>\n    <td>{{words.0.display_as}}</td>\n    <td>{{words.0.sounds_like.0}}</td>\n    <td>{{words.0.word}}</td>\n  </tr>\n  <tr>\n    <td>{{words.1.display_as}}</td>\n    <td>{{words.1.sounds_like.0}}</td>\n    <td>{{words.1.word}}</td> \n  </tr>\n    <tr>\n    <td>{{words.2.display_as}}</td>\n    <td>{{words.2.sounds_like.0}}</td>\n    <td>{{words.2.word}}</td> \n  </tr>\n      <tr>\n    <td>{{words.3.display_as}}</td>\n    <td>{{words.3.sounds_like.0}}</td>\n    <td>{{words.3.word}}</td>\n        <tr>\n    <td>{{words.4.display_as}}</td>\n    <td>{{words.4.sounds_like.0}}</td>\n    <td>{{words.4.word}}</td> \n  </tr>\n      <tr>\n    <td>{{words.5.display_as}}</td>\n    <td>{{words.5.sounds_like.0}}</td>\n    <td>{{words.5.word}}</td> \n  </tr>\n        <tr>\n    <td>{{words.6.display_as}}</td>\n    <td>{{words.6.sounds_like.0}}</td>\n    <td>{{words.6.word}}</td>\n        <tr>\n    <td>{{words.7.display_as}}</td>\n    <td>{{words.7.sounds_like.0}}</td>\n    <td>{{words.7.word}}</td> \n  </tr>\n      <tr>\n    <td>{{words.8.display_as}}</td>\n    <td>{{words.8.sounds_like.0}}</td>\n    <td>{{words.8.word}}</td> \n  </tr>\n   <tr>\n    <td>{{words.9.display_as}}</td>\n    <td>{{words.9.sounds_like.0}}</td>\n    <td>{{words.9.word}}</td> \n  </tr>\n</table>\n</body></html>","x":645.9999389648438,"y":404.3928527832031,"wires":[["8e417834.39d5f","466510d3.cde6e8","4b6b9e62.693ca"]]},{"id":"c2b06d94.ff23d","type":"http request","z":"8ac1f749.ee734","name":"GITから読み込み","method":"GET","ret":"obj","url":"https://github.com/kmomose/watson/raw/master/words.json","tls":"","x":298.1250305175781,"y":230.24998474121094,"wires":[["418e9821.e5f59"]]},{"id":"18658e11.6c5c32","type":"inject","z":"8ac1f749.ee734","name":"単語登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.125,"y":229.24990844726562,"wires":[["c2b06d94.ff23d"]]},{"id":"466510d3.cde6e8","type":"freeboard","z":"8ac1f749.ee734","name":"[NodeRed]corpus","x":848.5714721679688,"y":404.8214111328125,"wires":[]},{"id":"f7af74e9.65fea8","type":"inject","z":"8ac1f749.ee734","name":"辞書表示","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":366.7499084472656,"wires":[["9da249d9.9a57f8"]]},{"id":"20466056.5e7e8","type":"inject","z":"8ac1f749.ee734","name":"コーパス追加","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.25,"y":140,"wires":[["aa226100.645968"]]},{"id":"7ac791fb.8e25","type":"http request","z":"8ac1f749.ee734","name":"Corpus2(りそな様)","method":"GET","ret":"txt","url":"https://github.com/kmomose/watson/raw/master/corpus2.txt","tls":"","x":297,"y":139.5,"wires":[["536d17fb.692f2"]]},{"id":"2eeb0cd5.c2cb0c","type":"inject","z":"8ac1f749.ee734","name":"コーパス削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":185,"wires":[["4d32e93b.338c8"]]},{"id":"52cf3102.a1377","type":"debug","z":"8ac1f749.ee734","name":"","active":true,"console":"false","complete":"true","x":805,"y":174.75,"wires":[]},{"id":"4b6b9e62.693ca","type":"debug","z":"8ac1f749.ee734","name":"","active":true,"console":"false","complete":"true","x":810.0358276367188,"y":442.6785583496094,"wires":[]},{"id":"b937a717.cc12b8","type":"function","z":"8ac1f749.ee734","name":"extract","func":"msg.payload = msg.words;\n\nreturn msg;","outputs":1,"noerr":0,"x":646.75,"y":366,"wires":[["b9a095de.9aa688"]]},{"id":"aa226100.645968","type":"http request","z":"8ac1f749.ee734","name":"Corpus1(momose)","method":"GET","ret":"txt","url":"https://github.com/kmomose/watson/raw/master/corpus1.txt","tls":"","x":298.25,"y":102,"wires":[["536d17fb.692f2"]]},{"id":"a17fe945.5415f","type":"http request","z":"8ac1f749.ee734","name":"DEL Word","method":"DELETE","ret":"txt","url":"","tls":"","x":484.5,"y":272,"wires":[[]]}]
